/* Styles for the two dropdown menus on top */
.Paramdrop {
    width: 50%;
}

/* Styles for the slicer controlling 4 graphs */
.Sliderboy {
    width: 80%;
    margin-top: 9px;
    margin-left: -23px;
}

.row-spacing {
    margin-bottom: 60px; /* Adjust the margin as needed */
}

.score-holder {
    width: 50%;
}

body {
    background-color: #f0f0f0; /* Set the background color to black */
}
